**
!package.json
!package-lock.json
!next.config.ts
!tsconfig.json
!postcss.config.mjs
!prisma.config.ts
!prisma/
!prisma/**
!src/
!src/**
!public/
!public/**
!scripts/
!scripts/**
src/generated
**/.env*
**/*.test.*
